$navbar-breakpoint: 0px;
$tablet: 0px;
$desktop: 1024px;
$widescreen-enabled: false;
$fullhd-enabled: false;

#main {
  width: $desktop;
  margin: 0 auto;
}

.button.is-primary {
  background-color: #00bfa5;
}
.button.is-danger {
  background-color: #d50000;
}

.markdown {
  p {
    margin: 5px 0;
  }
  h1,
  h2,
  h3 {
    font-weight: bold;
  }
  h1 {
    font-size: 23px;
  }
  h2 {
    font-size: 20px;
  }
  h3 {
    font-size: 17px;
  }
}
